@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;700&family=Oswald:wght@400;700&display=swap');
* {
    box-sizing: border-box;    
}
body {
font-family: 'Big Shoulders Text', cursive , 'Oswald';
margin: 0, 10px;
background-image: url(../img/logo_mod.jpg);
}
.nav-link {
    font-size: 20px;
    color: darkslategray;
    text-decoration: none;
    margin: 10px 10px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.4);    
}
a:hover, a:active {
    color: lightslategray;
}
@media (min-width: 768px) {
    .nav-link {
    font-size: 28px;
    }
}

.row {    
    line-height: 25px;    
    margin-left: 15px;
    margin-right: 15px;
}
.row p {
    color:darkslategray;
    font-size: 18px;
}
.row h1, h2, h3, h4 {
    color:darkslategray;       
}
.discs {
    max-width: 90%;
    text-align: center;
}
.discs h1 {
    color:darkslategray;
}
.discs h5 {
    font-size: 18px;
    color:darkslategray;
}
.discs a{
    color:darkslategray;
    text-decoration: none;
}
.discs a:hover {
    color: lightslategray;
    text-decoration: underline;
}
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.disc_img{    
    padding: 25px 25px 0 0;      
    float: left;
}
.disc_img img {    
    width: 400px; 
    box-shadow: 0 0 10px rgba(0,0,0,1);
    
}
.songs{
    display: inline;
}
.songs p {
    font-size: 20px;
    text-shadow: 0px 0px 1px rgba(0,0,0,.1);
    color:darkslategray;    
    text-align: left;  
    margin: 0.5em;   
}
@media (max-width: 768px) {
    .disc_img img {    
        width: 150px; 
    }    
    .songs p {
        font-size: 16px;
        text-align: left;
    }
}

.container-contact {
    display: flex;
    margin: 1em 1em;
}
